<!doctype html>
<html>
<head>
<style>
  body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 18px;
    font-family: 'Arial';
  }

  h1 {
    font-size: 36px;
  }

  .page {
    width: 384px;
  }

  ul.unstyled,
  ol.unstyled {
    list-style-type: none;
    padding: 0;
  }

  ul.unstyled li,
  ol.unstyled li {
    margin: 0 0 1em;
  }

</style>
</head>
<body>
<div class="page">
{{{body}}}
</div>
</body>
</html>
